{% extends "base.html.twig" %}

{% block customstylesheets %}
    <link href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ gl_app_name }} - {{ 'texts.admin.title'|trans({}, 'texts') }}
{% endblock %}

{% block menu %}{% endblock %}

{% block main %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">{{ gl_app_name }}</h5>
        <a class="nav-link active" href="{{ path('front_main_page') }}">{{ 'texts.admin.header.go_to_public_site'|trans({}, 'texts') }}</a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark">{{ 'texts.admin.header.logged_as'|trans({}, 'texts') }} {{ app.user.name }} {{ app.user.lastname }}</a>
        </nav>
        <a class="btn btn-outline-primary" href="{{ path('logout') }}">{{ 'texts.admin.header.logout'|trans({}, 'texts') }}</a>
    </div>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_dashboard_main') }}">
                                <span data-feather="file"></span>
                                {{ 'texts.admin.sidebar.dashboard'|trans({}, 'texts') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_categories_list') }}">
                                <span data-feather="file"></span>
                                {{ 'texts.admin.sidebar.categories'|trans({}, 'texts') }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_videos_list') }}">
                            <span data-feather="shopping-cart"></span>
                            {{ 'texts.admin.sidebar.videos'|trans({}, 'texts') }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_videos_upload_locally') }}">
                                <span data-feather="shopping-cart"></span>
                                {{ 'texts.admin.sidebar.upload_video_local'|trans({}, 'texts') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_users_list') }}">
                                <span data-feather="users"></span>
                                {{ 'texts.admin.sidebar.users'|trans({}, 'texts') }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_users_my_profile') }}">
                            <span data-feather="file"></span>
                            {{ 'texts.admin.sidebar.my_profile'|trans({}, 'texts') }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">
                        <a href="{{ path('admin_dashboard_main') }}">{{ 'texts.admin.sidebar.dashboard'|trans({}, 'texts') }}</a>
                    </h1>
                </div>
            {% endif %}
            {% block mainadmin %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block customjavascripts %}
    <script>
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}
