<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2022-2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>{{ 'texts.front.footer.features.title'|trans({}, 'texts') }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.features.video_player'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.features.hosting'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.features.privacy'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.features.analytics'|trans({}, 'texts') }}</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>{{ 'texts.front.footer.resources.title'|trans({}, 'texts') }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.resources.help_center'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.resources.blog'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.resources.guidelines'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.resources.developers'|trans({}, 'texts') }}</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>{{ 'texts.front.footer.about.title'|trans({}, 'texts') }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.about.team'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.about.contact'|trans({}, 'texts') }}</a></li>
                <li><a class="text-muted" href="#">{{ 'texts.front.footer.about.terms'|trans({}, 'texts') }}</a></li>
            </ul>
        </div>
    </div>
</footer>
