{% extends "base.html.twig" %}

{% block main %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ 'texts.front.pricing.title'|trans({}, 'texts') }}</h1>
        <p class="lead">{{ 'texts.front.pricing.subtitle'|trans({}, 'texts') }}</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            {% for plan in plans %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ plan.name|capitalize }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{ plan.price }}
                            <small class="text-muted">/ mo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for description in plan.descriptions %}
                                <li>{{ description|trans({}, 'texts') }}</li>
                            {% endfor %}
                        </ul>
                        <a role="button" href="{{ path('front_register_page', {'plan': plan.name}) }}" class="btn btn-lg btn-block {{ plan.buttons.class }}">{{ plan.buttons.text|trans({}, 'texts') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

