{% extends "base.html.twig" %}

{% block main %}
    <div class="row mt-5">
        {{ include('front/_partials/_cart.html.twig') }}

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">{{ 'texts.front.register.title'|trans({}, 'texts') }}</h4>
            {{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="user_name">{{ 'texts.front.register.first_name'|trans({}, 'texts') }}</label>
                    {{ form_widget(form.name) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="user_last_name">{{ 'texts.front.register.last_name'|trans({}, 'texts') }}</label>
                    {{ form_widget(form.last_name) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.last_name) }}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="user_email">{{ 'texts.front.register.email'|trans({}, 'texts') }}</label>
                {{ form_widget(form.email) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="mb-3">
                <label for="user_password_first">{{ 'texts.front.register.password'|trans({}, 'texts') }}</label>
                {{ form_widget(form.password.first) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.password.first) }}
                </div>
            </div>

            <div class="mb-3">
                <label for="user_password_second">{{ 'texts.front.register.confirm_password'|trans({}, 'texts') }}</label>
                {{ form_widget(form.password.second) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.password.second) }}
                </div>
            </div>

            <hr class="mb-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block">{{'texts.front.register.submit'|trans({}, 'texts') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block customjavascripts %}
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');

                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('click', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        var password = document.getElementById("user_password_first"),
            confirm_password = document.getElementById("user_password_second");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}
