{% extends "base.html.twig" %}

{% if video_non_members is not null %}
    {% set videoid = video_non_members %}
{% else %}
    {% set videoid = video.path %}
{% endif %}

{% block main %}
    <br>

    {{ include('_common/_partials/_errors.html.twig') }}

    <br>
    <h1>{{ video.title }}</h1>
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe class="" src="{{ videoid }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <hr>

    <div class="row m-2">
        <a id="video_comments"></a>
        <ul class="list-unstyled text-left">
            {% for comment in video.comments %}
                <li class="media">
                    <img class="mr-3" src="{{asset('assets/img/user.jpg')}}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">
                            <b>{{ comment.owner.name }}
                                {{ comment.owner.lastname }}</b>
                            <small class="text-muted">{{ 'texts.front.video_details.added_comment'|trans({}, 'texts') }}
                                <small>
                                    <b>({{ comment.createdat|ago }})</b>
                                </small>
                            </small>

                            {% if app.user and app.user.id == comment.owner.id %}
                                <form action="{{ path('delete_comment', {'comment': comment.id}) }}" method="POST" class="delete-form">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button type="submit" onclick="return confirm(\"{{ 'texts.front.video_details.are_you_sure'|trans({}, 'texts') }}\");">{{ 'texts.front.video_details.delete_comment'|trans({}, 'texts') }}</button>
                                </form>
                            {% endif %}
                        </h5>
                        {{ comment.content }}
                    </div>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="{{ path('new_comment', {'video': video.id}) }}">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">{{ 'texts.front.video_details.add_comment'|trans({}, 'texts') }}</label>
                    <textarea name="comment" required class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'texts.front.video_details.submit_comment'|trans({}, 'texts') }}</button>
            </form>
        </div>
    </div>
{% endblock %}

